.vscode
node_modules
package-lock.json
videos
downloads
screenshots
dist
.DS_Store
tsconfig.tsbuildinfo
packages/hal-testsuite/cypress/fixtures/jdbc-drivers/*.jar
packages/hal-testsuite/cypress/fixtures/modules/*.jar
target
.idea
results
mochawesome*